<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quicklist">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="quicklist"
        android:icon="@mipmap/ic_launcher"
        android:name="${applicationName}">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|screenSize|density|uiMode"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.FirebaseApp"
            android:value="@string/google_app_id" />
        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>

    <!-- App Queries -->
    <queries>
        <package android:name="com.google.android.gms" />
    </queries>
</manifest>
